body {
  text-align: center;
  align-items: center;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: stretch;
  align-items: center;
}
.income, .expense, .target{
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: cornflowerblue;
  height: 200px;
  width: 250px;
  overflow-y: auto;
}

.transfer{
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 20px;
  background-color: cornflowerblue;
}
